{% extends "base.html" %}
{% block title %}Add Category{% endblock %}
{% load tailwind_filters %}

{% block content %}
{% include "navbar.html" %}

<form action="" method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <button class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" name="category_submit" type="submit">Submit</button>
</form>

<h3>Your categories:</h3>
<ul>
  {% for category in categories %}
  <li> {{ category }}</li>
  {% endfor %}
</ul>
{% endblock %}
