{% extends "base.html" %}
{% load tailwind_filters %}
{% block content %}
{% include "navbar.html" %}

<div class="flex flex-col justify-center items-center">

  <h1 class="text-4xl font-bold m-8">Welcome to the Dashboard</h1>

  <div class="flex items-center justify-around w-full">
    <div class="float-left">

      <form method="get">
        {{ filter_form|crispy }}
        <button class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="submit">Submit</button>
      </form>

      <h2>Filtered Expenses</h2>
      <ul>
        {% for item in filtered_source %}
          <li>{{ item.source }}: {{ item.total_sum }}</li>
        {% empty %}
          <li>No data available for the selected source.</li>
        {% endfor %}
      </ul>
      <p><strong>Hello</strong></p>

      <ul class="text-2xl font-bold">
        <li>
          Current Balance : {{ current_balance }}
        </li>
        <li>
          Total Income : {{ total_income }}
        </li>
        <li>
          Total Sources : {{ expense_source }}
        </li>
        <li>
          Total Expense : {{ total_expense }}
        </li>
        <li>
          Categories : {{ expense_category }}
          {% for expense in expense_category %}
          {{ expense.category__name }}
          {{ expense.total_amount }}
          {% empty %}
          <p>No categories</p>
          {% endfor %}
        </li>
      </ul>

    </div>

    <div class="float-right">


      <div class="w-full max-w-2xl mx-8">

        <form action="" method="POST" id="amount_input_form">

          {% csrf_token %}
          <label for="amount">Amount : </label>
          {{ form|crispy }}
          <button class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="submit">Submit</button>

        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
